:root{
    --Hub: #ffb300;
    --HubShadow: #d0d0d0;
    --HubDark: #ff8f00;
    --Bckgr_divs: rgba(98, 98, 98, 0.3);
    --Bckgr_divs2: rgba(0, 0, 0, 0.35);
    --Btn: #000000;
}

/*------Fonts------*/
@font-face {
    font-family: 'ROLNER';
    src: url(../Xaviel_Web/Resources/Fonts/ROLNER/ROLNER.woff2) format('woff2'),
         url(../Xaviel_Web/Resources/Fonts/ROLNER/ROLNER.woff) format('woff'),
         url(../Xaviel_Web/Resources/Fonts/ROLNER/ROLNER.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

/*------Body------*/

body{
    /*background: linear-gradient(to bottom, black 40%, var(--Hub) 60%);*/
    background: linear-gradient(
        to bottom,
        black 30%,
        #111 45%,
        var(--Hub) 70%
    );
}

/*------Nav------*/
.navbar{
    background-color: var(--Hub);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    position: sticky;
    top: 0;
    border-radius: 16px;
    width: auto;
    height: auto;
    margin: 20px 30px;
    padding: 1px;
}

#nav-list{
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
}

.nav-list-element{
    font-size: 18px;
    font-family: 'ROLNER', sans-serif;
}

.nav-list-element:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.nav-list-element-link{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

.nav-list-element-link:hover{
    color: white;
    text-shadow: 0 0 6px black;
    border-radius: 8px;
    transition: 0.1s;
}