:root{
    --Hub: #ffb300;
    --HubShadow: #d0d0d0;
    --HubDark: #ff8f00;
    --Bckgr_divs: rgba(98, 98, 98, 0.3);
    --Bckgr_divs2: rgba(0, 0, 0, 0.35);
    --Btn: #000000;
    --Btn_Gray: #333333;
}

/*------Fonts------*/
@font-face {
    font-family: 'ROLNER';
    src: url(../Xaviel_Web/Resources/Fonts/ROLNER/ROLNER.woff2) format('woff2'),
         url(../Xaviel_Web/Resources/Fonts/ROLNER/ROLNER.woff) format('woff'),
         url(../Xaviel_Web/Resources/Fonts/ROLNER/ROLNER.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gefika';
    src: url(../Xaviel_Web/Resources/Fonts/Gefika/Gefika.woff2) format('woff2'),
         url(../Xaviel_Web/Resources/Fonts/Gefika/Gefika.woff) format('woff'),
         url(../Xaviel_Web/Resources/Fonts/Gefika/Gefika.otf) format('opentype');
}

@font-face {
    font-family: 'lemon_beach';
    src: url(../Xaviel_Web/Resources/Fonts/Lemon-beach/Lemon-Beach.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Work-krow';
    src: url(../Xaviel_Web/Resources/Fonts/Work-krow/Work-krow.otf) format('opentype'),
         url(../Xaviel_Web/Resources/Fonts/Work-krow/Work-krow.ttf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Spoiler-script';
    src: url(../Xaviel_Web/Resources/Fonts/Spoiler-Script/Spoilers-Script.woff2) format('woff2'),
         url(../Xaviel_Web/Resources/Fonts/Spoiler-Script/Spoilers-Script.woff) format('woff'),
         url(../Xaviel_Web/Resources/Fonts/Spoiler-Script/Spoilers-Script.otf) format('opentype');
}
/*------Body------*/

body{
    /*background: linear-gradient(to bottom, black 40%, var(--Hub) 60%);*/
    background: linear-gradient(
        to bottom,
        black 30%,
        #111 45%,
        var(--Hub) 70%
    );
}

/*------Nav------*/
.navbar{
    background-color: var(--Hub);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    position: sticky;
    top: 0;
    border-radius: 16px;
    width: auto;
    height: auto;
    margin: 20px 30px;
    padding: 1px;
}

#nav-list{
    list-style:none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;    
}

.nav-list-element{
    font-size: 18px;
    font-family: 'ROLNER', sans-serif;
}

.nav-list-element:hover{
    transform: scale(1.1);
    transition: 0.1s;
}

.nav-list-element-link{
    text-decoration: none;
    color: black;
    padding: 8px 16px;
}

.nav-list-element-link:hover{
    color: white;
    text-shadow: 0 0 6px black;
    border-radius: 8px;
    transition: 0.1s;
}

/*------quien-soy------*/
#quien-soy{
    background-color: var(--Bckgr_divs);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    width: auto;
    height: auto;
    margin: 20px 30px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quien-soy-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.info-title{
    font-size: 28px;
    font-style: normal;
    font-family: 'Gefika', sans-serif;
    text-align: center;
    color: white;
    text-shadow: 0 0 6px black;
    margin-bottom: 10px;
}

.info-title-span{
    font-size: 18px;
    font-family: 'ROLNER', sans-serif;
    display: block;
    margin-top: -10px;
    color: var(--Hub);
    text-shadow: 0 0 5px rgb(0, 0, 0);
}

.quien-soy-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 280px;
    border-radius: 16px;
    /*border: 0px 0px 20px 10px solid rgba(255, 255, 255, 0.571);*/
    box-shadow: 0 0 10px 5px rgba(255, 255, 255, 0.2);
}

.info-text{
    font-size: 15px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-shadow: 0 0 6px black;
    font-style: italic;
}

/*------ Conocimientos -------*/
#conocimientos{
    margin-top:80px;
    margin-bottom: 20px;
}

.skills-icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: var(--Gray);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    width: auto;
    height: auto;
    margin: 20px 30px;
    padding: 20px;
}

.skill-icon:hover{
    width: 50px;
    height: 50px;
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}

/*------ Proyectos ------*/
.projects-gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: var(--Bckgr_divs);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    width: auto;
    height: auto;
    margin: 20px 30px;
    padding: 20px;
}

.project-card{
    background-color: var(--Bckgr_divs2);
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    border-radius: 16px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.project-card:hover{
    transform: scale(1.05);
    transition: ease-in-out 0.2s;
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.3), 0 12px 40px 0 rgba(255, 255, 255, 0.25);
    background-color: black;
}

.project-card > a{
    text-decoration: none;
    color: white;
    font-family: 'ROLNER', sans-serif;
    font-size: 20px;
    text-align: center;
}

.project-card > a:hover{
    /*text-shadow: 0 0 6px white;*/
    transition: ease-in-out 0.2s;
    color: var(--Hub);
}

.project-card > a > img{
    width: 200px;
    display: flex;
    flex-direction: column;
    border-radius: 18px;
    margin-top: 10px;
}

.project-card > p{
    color: white;
    margin: 8px;
    text-align: center;
    justify-content: center;
}

.rep-btn{
    background-color: var(--Btn_Gray);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 16px;
    font-family: 'ROLNER', sans-serif;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0 0px 8px 0 rgba(255, 255, 255, 0.2), 0 0px 20px 0 rgba(255, 255, 255, 0.19);
}

.rep-btn:hover{
    background-color: var(--Hub);
    color: black;
    box-shadow: 0 0 12px 0 rgba(255, 255, 255, 0.4), 0 0 30px 0 rgba(255, 255, 255, 0.3);
    transform: scale(1.1);
    transition: ease-in-out 0.2s;
}